canvas {
    border: 8px solid #00ccff;
    margin: auto;
    position: absolute; 
    top: 290px; left: 150px; 
    
}

@media (min-width: 1500px) {
    canvas {
        border: 8px solid #00ccff;
        margin: auto;
        position: absolute; 
        top: 290px; left: 240px; 
        
    }
}

@media (min-width: 1700px) {
    canvas {
        border: 8px solid #00ccff;
        margin: auto;
        position: absolute; 
        top: 290px; left: 390px; 
        
    }
}

@media (min-width: 1900px) {
    canvas {
        border: 8px solid #00ccff;
        margin: auto;
        position: absolute; 
        top: 290px; left: 490px; 
        
    }
}

@media (min-width: 2100px) {
    canvas {
        border: 8px solid #00ccff;
        margin: auto;
        position: absolute; 
        top: 290px; left: 590px; 
        
    }
}


@media (min-width: 2300px) {
    canvas {
        border: 8px solid #00ccff;
        margin: auto;
        position: absolute; 
        top: 290px; left: 690px; 
        
    }
}


html{
    font-family: 'Patrick Hand', cursive;
    background-image: url('../images/background.jpg');
    
}

#title{
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    background-color: #00ccff;
}

#name{
    font-size: 40px;
    text-align: center;
    background-color: #00ccff;
}

#det{
    font-size:25px;
}

.value{
    font-size: 25px;
    background-color: #00ccff;
}

.control{
    text-decoration: underline;
    font-size: 35px;
}

section{
    display: grid;
    background-color: #ff00cc;
    grid-column: 2 span/span 6;
    grid-row: 2 ;
    text-align: center;
    border: 3px solid #00ccff;
    font-size: 25px;
}

#desc{
    background-color: #00ccff;
    height:600px;
    width: 130px;
    font-size: 25px;
}

#wrapper{
    display: grid;
    grid-auto-rows: 900px 1fr;
    grid-auto-columns: 90px 1fr;
}

#click{
    background-color: #cc00ff;
    font-size: 25px;
}

button {
    background-color: #00ccff;
    width: 100px;
    height: 100px;
} 

button:hover {
    color: #00ffcc;
}
  
button:active {
   color: #37fffc;
}

a:link {
    background-color: #00ccff;
    color: black;
}
  
a:hover {
    color: #00ffcc;
}
  
a:active {
    color: #37fffc;
}

#fpsValue{
    font-size: 25px;
  }
#divValue{
    font-size: 25px;
}